# Logs
logs
*.log
.DS_Store

npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

#IDEs
.idea

#config files
ormconfig.json
src/config.ts

# code testing coverage
coverage


dist/*

#tf state
terraform/.terraform/**

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.47.0/darwin_amd64/terraform-provider-aws_v3.47.0_x5
