# Logs
logs
*.log
.DS_Store

# ignore file with exercise body
exercise.md

npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

#IDEs
.idea

#config files
ormconfig.json
ormconfig.json.bck
src/config.ts

# code testing coverage
coverage


dist/*